{{<layout}}

{{$pageTitle}}Shared code repository{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <p>
    Send your feedback to <a href="mailto:code-sharing@digital.cabinet-office.gov.uk">code-sharing@digital.cabinet-office.gov.uk</a>
  </p>

  <a href="submit-repository" class="example-back-link">Submit repository</a> or   <a href="index" class="example-back-link">Search</a>

  <h1 class="form-title heading-large">
    Browse all available projects
  </h1>


  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">Department</h2>
      <p>

      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">Technology</h2>
      <p>

      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">Category</h2>
      <p>
        
      </p>
    </div>
  </div>


</main>

{{/content}}

{{/layout}}
